# deps
node_modules/

# builds
dist/
coverage/
.vite/
.temp/

# env & local
.env.local
.env.*.local
*.log

# system
.DS_Store
Thumbs.db

# editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
